.container-services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-services ul {
  max-height: 400px;
  overflow-y: auto;
}

.container-services ul li {
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
  background-color: #eee;
  color: #000;

  border-radius: 4px;

  cursor: pointer;

  transition: 0.2s;
}

.container-services ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-right: 5px;
}

.container-services ul li.selected {
  background-color: green;
  color: white;
}

.container-services p {
  font-weight: bold;
}
