.container-input-date {
  display: flex;
  flex-direction: column;
}

.container-input-date label {
  margin-left: 10px;
  font-weight: bold;
}

.container-input-date input {
  height: 35px;
  outline: none;
  border-radius: 10px;
  border: 1px solid;

  padding: 7px 10px;
  font-size: 18px;
}
